<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Clientes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/Inbox"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pessoa of pessoa">
      <ion-label>
        <h1>Nome: {{pessoa.nome}}</h1>
        <p class="ion-text-wrap">Data Fiado: {{pessoa.data}}</p>
        <p class="ion-text-wrap">Numero da Casa: {{pessoa.numero}}</p>
        <p class="ion-text-wrap">Quantidade de Gás: {{pessoa.gas}}</p>
        <p class="ion-text-wrap">Rua: {{pessoa.rua}}</p>
        <p class="ion-text-wrap">Telefone: {{pessoa.telefone}}</p>
        <p class="ion-text-wrap">Data Pagamento: {{pessoa.dataPaga}}</p>
        
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="primary"[routerLink]="['/pessoas', pessoa.id]">
              <ion-icon slot="start" name="pencil"></ion-icon>
              Editar
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="danger" fill="outline"  
            (click)="remove(pessoa)">
              <ion-icon slot="start" name="trash"></ion-icon>
              Excluir
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
    </ion-item>

  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary">
    <ion-fab-button [routerLink]="['novo']" routerLinkActive="router-link-active" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
